* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: whitesmoke;
  padding-bottom: 3em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d3557;
  padding: 1em 0;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f1faee;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #f1faee;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav .left-list {
  width: 20%;
  min-width: 100px;
}

header nav .right-list {
  width: 20%;
  min-width: 200px;
}

.page-h1 {
  text-align: center;
  color: #1d3557;
  padding: 1em;
  letter-spacing: 1px;
  position: relative;
}

.page-h1::before, .page-h1::after {
  content: '';
  border: 1px solid #1d3557;
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 38%;
}

@media screen and (max-width: 1100px) {
  .page-h1::before, .page-h1::after {
    width: 32%;
  }
}

@media screen and (max-width: 500px) {
  .page-h1::before, .page-h1::after {
    width: 25%;
  }
}

.page-h1::after {
  right: 3%;
}

.page-h1::before {
  left: 3%;
}

.home-article-links {
  text-decoration: none;
  color: black;
}

.home-section {
  margin: 3em auto;
  width: 90%;
  min-width: 350px;
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.home-section .post-details {
  background-color: #1d3557;
  padding: 2em;
  min-height: 400px;
  color: #f1faee;
  -webkit-box-shadow: 0 3px 8px #cedfdf;
          box-shadow: 0 3px 8px #cedfdf;
  border-radius: 5px;
  height: 100%;
}

.home-section .post-details h2 {
  padding: 0.6em;
  -webkit-box-shadow: 0 2px 8px #333;
          box-shadow: 0 2px 8px #333;
  color: #1d3557;
  background: #cedfdf;
  border-radius: 5px;
}

.home-section .post-details img {
  min-width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #457b9d;
  margin: 2em 0;
  border-radius: 3px;
}

.home-section .post-details .date {
  font-size: 0.8rem;
  font-weight: bold;
}

.home-section .post-details .last-edit {
  font-size: 0.8rem;
}

.hide {
  display: none;
}

.post {
  width: 50%;
  margin: 0 auto;
}

.post .post-details h2 {
  margin-top: 2em;
  padding: 0.5em 0;
  font-size: 1.7rem;
  line-height: 1.5;
  border-bottom: 2px solid #1d3557;
  color: #1d3557;
}

.post .post-details .post-image {
  max-height: 400px;
  margin: 2em auto;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 8px #cedfdf;
          box-shadow: 0 0 8px #cedfdf;
}

.post .post-details .date {
  font-weight: bold;
}

.post .post-details .last-edit {
  font-size: 0.8rem;
  color: gray;
}

.post .content {
  padding: 2em 0;
  border-top: 1px solid gainsboro;
}

.post .content p {
  margin: 0.4em 0;
}

.post .content ul {
  margin: 2.5em 0;
  list-style-position: inside;
}

.post > div {
  border-top: 2px solid #1d3557;
  padding: 1em 0;
}

.post > div h4 {
  padding: 1em 0;
  border-bottom: 1px solid gainsboro;
}

.post > div .comment {
  padding: 1em 0;
  border-bottom: 1px solid gainsboro;
}

.post > div .comment:last-child {
  border-bottom: 1px solid #1d3557;
}

.post > div .comment h5 {
  margin: 0.5em 0;
}

.post > div .comment .text {
  font-size: 1.1rem;
}

.post > div .comment .date {
  text-align: end;
  font-size: 0.8rem;
}

.post > div .add-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
  margin-top: 3em;
}

.post > div .add-comment p {
  font-weight: bold;
}

.post > div .add-comment textarea,
.post > div .add-comment input {
  resize: none;
  border: 1px solid #1d3557;
  padding: 0.5em;
  margin: 0.8em 0;
}

.post > div .add-comment input {
  border: none;
  border-bottom: 2px solid #1d3557;
  background-color: whitesmoke;
  padding: 0.5em 0;
}

.post > div .add-comment button {
  background-color: #1d3557;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  margin: 1em 0;
  color: #f1faee;
  font-weight: bold;
}

.loader {
  -webkit-animation: rightCircle 2s linear infinite;
          animation: rightCircle 2s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 200px auto 0 auto;
  width: 100px;
  height: 100px;
}

.loader::before,
.loader::after {
  content: '';
  border: 3px solid #1d3557;
  border-radius: 50%;
  width: 40px;
  display: inline-block;
  height: 40px;
  -webkit-animation: changeSize 2s linear infinite;
          animation: changeSize 2s linear infinite;
  margin: 3px;
  background-color: #1d3557;
}

.loader.inactive {
  display: none;
}

@-webkit-keyframes rightCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rightCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes changeSize {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes changeSize {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */